<h5 class="text-primary m-3">Issues reported by {{pageUser}} </h5>

<table class="table table-bordered table-striped myTableStyle">
    <thead>
        <tr>
            <th>Ticket No</th>
            <th>Added By</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result">
            <td>{{obj.ticketId}}</td>
            <td>{{obj.user.firstName+' '+obj.user.lastName}}</td>
            <td>{{obj.description}}</td>
            <td>{{obj.isResolved? 'Closed':'Pending'}}</td>
        </tr>
    </tbody>
</table>
