
<nav>
    <table class="table mt-3">
        <tr>
            <td class="col userDefWidth">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fee Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/addfeesdetails']">Update fee details</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/viewfeesdetails']">View fee details</a></li>
                    </ul>
                </div>
            </td>
            <td class="col userDefWidth">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Calender
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/addcalender']">Add schedules</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/viewcalender']">View schedules</a></li>
                    </ul>
                </div>
            </td>
            <td class="col userDefWidth">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Leave Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/leavehistory']">Leave history Of Students</a></li>
                    </ul>
                </div>
            </td>
            <td class="col userDefWidth">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Issue Details
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/viewissue']">View Issues</a></li>
                    </ul>
                </div>
            </td>
            <td class="col userDefWidth">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">Account</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/userlogin']">Login page</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/account']">Edit / Update account</a></li>
                    </ul>
                </div>
            </td>
    </table>
</nav>

