
<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <form #addCalendarForm="ngForm" (ngSubmit)="submitToServer()">
            <div class="form-group mb-3">
                <label for="message" class="fw-bold mb-1">Event :</label>
                <textarea class="form-control" id="message" name="message" rows="4" [(ngModel)]="source.message"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="targetDate" class="fw-bold mb-1">Date and Time:</label>
                <input class="form-control" type="datetime-local" id="targetDate" name="targetDate"
                       [(ngModel)]="source.targetDate">
            </div>
            <div class="form-group mb-3">
                <label for="status" class="fw-bold mb-1">Status:</label>
                <select class="form-select" id="status" name="status" [(ngModel)]="source.status">
                    <option value="Discussion">Discussion</option>
                    <option value="Planned">Planned</option>
                    <option value="Pending">Pending</option>
                    <option value="OnGoing">OnGoing</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="reason" class="fw-bold mb-1">Reason :</label>
                <textarea class="form-control" id="reason" name="reason" rows="4" [(ngModel)]="source.reason"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
