
<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <form #addAttendanceForm="ngForm" (ngSubmit)="submitToServer()">
            <div class="form-group mb-3">
                <label for="facultyId" class="fw-bold mb-1">Your name:</label>
                <select class="form-select" id="facultyId" name="facultyId" [(ngModel)]="source.facultyId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of faculties" [value]="obj.facultyId">{{obj.fullName}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="studentId" class="fw-bold mb-1">Student name:</label>
                <select class="form-select" id="studentId" name="studentId" [(ngModel)]="source.studentId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of students" [value]="obj.studentId">{{obj.fullName}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="attendanceDate" class="fw-bold mb-1">Date:</label>
                <input class="form-control" type="date" id="attendanceDate" name="attendanceDate"
                       [(ngModel)]="source.attendanceDate">
            </div>
            <div class="form-group mb-3">
                <span class="">
                    <label for="subjectId" class="fw-bold mb-1">Present / Absent:</label>
                </span>
                <span class="px-2">
                    <input type="radio" class="form-check-input" [(ngModel)]="source.isPresent" name="isPresent" [value]="true">
                    <label class="fw-bold mb-1 px-2">
                        True
                    </label>
                    <input type="radio" class="form-check-input" [(ngModel)]="source.isPresent" name="isPresent" [value]="false">
                    <label class="fw-bold mb-1 px-2">
                        False
                    </label>
                </span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
