<div class="container my-4">
    <div class="card my-1">
        <div class="card-header fw-bold">
            Users
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Users[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Users">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header fw-bold">
            Students
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Students[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Students">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header fw-bold">
            Faculties
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Faculties[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Faculties">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header fw-bold">
            Parents
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Parents[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Parents">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header fw-bold">
            Subjects
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Subjects[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Subjects">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header fw-bold">
            Courses / Departments
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let key of Courses[0] | keyvalue">{{ key.key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Courses">
                        <td *ngFor="let value of item | keyvalue">{{ value.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
