
<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <form #addAssignmentForm="ngForm" (ngSubmit)="submitToServer()">
            <div class="form-group mb-3">
                <label for="facultyId" class="fw-bold mb-1">Your name:</label>
                <select class="form-select" id="facultyId" name="facultyId" [(ngModel)]="source.facultyId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of allFaculties" [value]="obj.facultyId">{{obj.fullName}}</option>
                </select>
            </div>
            <input type="hidden" name="status" id="status" value="Alloted" [(ngModel)]="source.status" />
            <div class="form-group mb-3">
                <label for="studentId" class="fw-bold mb-1">Student name:</label>
                <select class="form-select" id="studentId" name="studentId" [(ngModel)]="source.studentId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of allStudents" [value]="obj.studentId">{{obj.fullName}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="courseId" class="fw-bold mb-1">Course name:</label>
                <select class="form-select" id="courseId" name="courseId" [(ngModel)]="source.courseId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of allCourses" [value]="obj.courseId">{{obj.courseName}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="subjectId" class="fw-bold mb-1">Subject name:</label>
                <select class="form-select" id="subjectId" name="subjectId" [(ngModel)]="source.subjectId">
                    <option selected disabled>Select an option</option>
                    <option *ngFor="let obj of allSubjects" [value]="obj.subjectId">{{obj.subjectName}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="questionDesc" class="fw-bold mb-1">Question:</label>
                <textarea class="form-control" id="questionDesc" name="question" rows="4" [(ngModel)]="source.question">

                </textarea>
            </div>
            <div class="form-group mb-3">
                <label for="targetDate" class="fw-bold mb-1">Last date to submit:</label>
                <input class="form-control" type="date" id="targetDate" name="targetDate"
                       [(ngModel)]="source.targetDate">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
