<h5 class="text-primary m-3">Calendar alerts for {{pageUser}} </h5>

<table class="table table-bordered table-striped myTableStyle">
    <thead>
        <tr>
            <th>Event No</th>
            <th>Event</th>
            <th>Event Date</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result" class="bg-success">
            <td>{{obj.calendarId}}</td>
            <td>{{obj.message}}</td>
            <td>{{obj.targetDate}}</td>
            <td>{{obj.reason}}</td>            
            <td>{{obj.status}}</td>
        </tr>
    </tbody>
</table>
