
<h5 class="text-primary m-3">List of assignments for {{pageUser}} </h5>

<table class="table table-bordered table-striped myTableStyle">
    <thead>
        <tr>
            <th>Assignment Id</th>
            <th>Course</th>
            <th>Subject</th>
            <th>Assigned to</th>
            <th>Question</th>
            <th>Alloted by</th>
            <th>Alloted on</th>
            <th>Due By</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result">
            <td>{{obj.assignmentId}}</td>
            <td>{{obj.course.courseName}}</td>
            <td>{{obj.subject.subjectName}}</td>
            <td>{{obj.student.fullName}}</td>
            <td>{{obj.question}}</td>
            <td>{{obj.faculty.fullName}}</td>
            <td>{{obj.allotedDate}}</td>
            <td>{{obj.targetDate}}</td>
            <td>{{obj.status}}</td>
            
        </tr>
    </tbody>
</table>
