
<h5 class="text-primary m-3">List of assignments for {{pageUser}} </h5>

<table class="table table-bordered table-striped myTableStyle">
    <thead>
        <tr>
            <th>Assignment Id</th>
            <th>Course</th>
            <th>Subject</th>
            <th>Assigned to</th>
            <th>Question</th>
            <th>Last date for submission</th>
            <th>Submited on</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result">
            <td>{{obj.assignmentId}}</td>
            <td>{{obj.course.courseName}}</td>
            <td>{{obj.subject.subjectName}}</td>
            <td>{{obj.student.fullName}}</td>
            <td>{{obj.question}}</td>
            <td>{{obj.dueDate}}</td>
            <td *ngIf="obj.submissionTime; else notSumbitted">
                {{obj.submissionTime}}
            </td>
            <ng-template #notSumbitted>
                <td>
                    Not yet submitted
                </td>
            </ng-template>


        </tr>
    </tbody>
</table>
