<h5 class="text-primary m-3">Leave requests of {{pageUser}} </h5>

<table class="table table-bordered table-striped myTableStyle">
    <thead>
        <tr>
            <th>Req ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Approved</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result">
            <td>{{obj.id}}</td>
            <td>{{obj.user.firstName+obj.user.lastName}}</td>
            <td>{{obj.dateOfLeave}}</td>
            <td>{{obj.reason}}</td>
            <td>{{obj.isApproved?'Yes':'No'}}</td>
        </tr>
    </tbody>
</table>
